html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.examples {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.examples > img {
    padding: 5px;
    margin: 5px;
    height: 200px;
    width: 200px;
}

.results-container {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#upload-box {
    margin-left: 25%;
    width: 50%;
    outline: 2px dashed #000;
    padding: 100px 20px
}

.upload-box-file {
    display: none;
}